In [ ]:
print("hey")

hey

In [ ]:
import pandas as pd

In [ ]:
movies = pd.read_csv("movies.csv")
movies

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
62418,209157,We (2018),Drama
62419,209159,Window of the Soul (2001),Documentary
62420,209163,Bad Poems (2018),Comedy|Drama
62421,209169,A Girl Thing (2001),(no genres listed)
62422,209171,Women of Devil's Island (1962),Action|Adventure|Drama

In [ ]:
import re
def clean_title(title):
  return re.sub("[^a-zA-Z0-9 ]", "", title)

In [ ]:
movies["clean_title"] = movies["title"].apply(clean_title)

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer = TfidfVectorizer(ngram_range=(1,2))
tfidf = vectorizer.fit_transform(movies["clean_title"])

In [ ]:

similarity

NameError: ignored

In [ ]:
query_vec

In [ ]:
movies

,movieId,title,genres,clean_title
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,Toy Story 1995
1,2,Jumanji (1995),Adventure|Children|Fantasy,Jumanji 1995
2,3,Grumpier Old Men (1995),Comedy|Romance,Grumpier Old Men 1995
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,Waiting to Exhale 1995
4,5,Father of the Bride Part II (1995),Comedy,Father of the Bride Part II 1995
...,...,...,...,...
62418,209157,We (2018),Drama,We 2018
62419,209159,Window of the Soul (2001),Documentary,Window of the Soul 2001
62420,209163,Bad Poems (2018),Comedy|Drama,Bad Poems 2018
62421,209169,A Girl Thing (2001),(no genres listed),A Girl Thing 2001
62422,209171,Women of Devil's Island (1962),Action|Adventure|Drama,Women of Devils Island 1962

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity
import numpy as np
def search(title):
  title = clean_title(title)
  query_vec = vectorizer.transform([title])
  similarity = cosine_similarity(query_vec,tfidf).flatten()
  indices = np.argpartition(similarity,-5)[-5:]
  result = movies.iloc[indices][::-1]
  return result

In [ ]:
result

NameError: ignored

In [ ]:
import ipywidgets as widgets
from IPython.display import display
movie_input = widgets.Text(
    value="Toy story",
    description = "Movie Title:",
    disabled = False
)
movie_list = widgets.Output()
def on_type(data):
  with movie_list:
    movie_list.clear_output()
    title = data["new"]
    if len(title) > 5:
      display(search(title))
movie_input.observe(on_type,names="value")
display(movie_input,movie_list)

Text(value='Toy story', description='Movie Title:')

Output()

In [ ]:
ratings = pd.read_csv("ratings.csv")
ratings

        userId  movieId  rating     timestamp
0            1      296     5.0  1.147880e+09
1            1      306     3.5  1.147869e+09
2            1      307     5.0  1.147869e+09
3            1      665     5.0  1.147879e+09
4            1      899     3.5  1.147869e+09
...        ...      ...     ...           ...
290998    2010      266     1.0  9.725270e+08
290999    2010      317     2.0  9.725266e+08
291000    2010      367     5.0  9.725266e+08
291001    2010      527     4.0  9.725265e+08
291002    2010      541     5.0           NaN

[291003 rows x 4 columns]

In [ ]:
ratings.dtypes

userId         int64
movieId        int64
rating       float64
timestamp    float64
dtype: object

finding users that also liked the same movie as us

In [ ]:
movie_id = 1

In [ ]:
similar_user = ratings[(ratings["movieId"] == movie_id) & (ratings["rating"]>= 5)] ["userId"].unique()

In [ ]:
similar_user

array([  36,   75,   86,   90,   93,   95,   96,   98,  120,  127,  143,
        152,  158,  162,  186,  188,  211,  229,  230,  249,  259,  297,
        298,  302,  329,  355,  359,  369,  371,  381,  392,  428,  435,
        447,  468,  477,  484,  513,  537,  540,  541,  551,  553,  561,
        582,  609,  611,  623,  624,  631,  644,  653,  654,  670,  683,
        686,  694,  697,  709,  733,  741,  749,  752,  765,  768,  773,
        785,  793,  796,  803,  805,  807,  811,  830,  834,  856,  904,
        905,  911,  927,  947,  950,  956,  966,  969,  986, 1007, 1010,
       1013, 1036, 1065, 1079, 1092, 1096, 1101, 1118, 1123, 1138, 1140,
       1141, 1143, 1146, 1150, 1167, 1169, 1171, 1176, 1179, 1192, 1198,
       1199, 1200, 1228, 1230, 1240, 1268, 1273, 1304, 1305, 1313, 1334,
       1336, 1344, 1378, 1395, 1397, 1398, 1422, 1445, 1448, 1476, 1477,
       1478, 1480, 1494, 1502, 1510, 1527, 1540, 1548, 1558, 1560, 1569,
       1585, 1610, 1635, 1652, 1653, 1676, 1681, 1687, 1696, 1720, 1732,
       1746, 1752, 1775, 1796, 1805, 1822, 1829, 1831, 1840, 1845, 1852,
       1871, 1877, 1881, 1887, 1891, 1908])

In [ ]:
similar_user_recs = ratings[(ratings["userId"].isin(similar_user)) & (ratings["rating"] > 4)] ["movieId"]
similar_user_recs

5101         1
5105        34
5111       110
5114       150
5127       260
          ...
272975    3006
273001    3952
273003    3983
273007    4034
273009    4226
Name: movieId, Length: 11953, dtype: int64

In [ ]:
va = similar_user_recs.value_counts() / len(similar_user)
va

1        1.000000
318      0.426901
260      0.380117
296      0.327485
527      0.321637
           ...
27528    0.005848
26840    0.005848
26172    0.005848
25937    0.005848
3952     0.005848
Name: movieId, Length: 3380, dtype: float64

In [ ]:
 vba = va[va > .1]
 vba

1       1.000000
318     0.426901
260     0.380117
296     0.327485
527     0.321637
          ...
293     0.105263
5989    0.105263
1028    0.105263
1527    0.105263
1246    0.105263
Name: movieId, Length: 101, dtype: float64

In [ ]:
all_users = ratings[(ratings["movieId"].isin(vba.index)) & (ratings["rating"] > 4)]

In [ ]:
all_users

        userId  movieId  rating     timestamp
0            1      296     5.0  1.147880e+09
72           2      110     5.0  1.141417e+09
76           2      260     5.0  1.141417e+09
79           2      318     5.0  1.141417e+09
82           2      356     4.5  1.141417e+09
...        ...      ...     ...           ...
290962    2009     2324     5.0  9.415128e+08
290966    2009     2396     5.0  9.415122e+08
290995    2010       32     5.0  9.725268e+08
290997    2010      260     5.0  9.725266e+08
291002    2010      541     5.0           NaN

[18333 rows x 4 columns]

In [ ]:
all_user_recs = all_users["movieId"].value_counts() / len(all_users["userId"].unique())

In [ ]:
all_user_recs

318      0.341765
296      0.286329
2571     0.239505
593      0.225511
527      0.222282
           ...
2797     0.035522
1954     0.031755
78499    0.031216
2355     0.024220
1028     0.024220
Name: movieId, Length: 101, dtype: float64

In [ ]:
rec_percentages = pd.concat([vba,all_user_recs],axis=1)
rec_percentages.columns = ["similar","all"]

In [ ]:
rec_percentages

       similar       all
1     1.000000  0.129709
318   0.426901  0.341765
260   0.380117  0.213671
296   0.327485  0.286329
527   0.321637  0.222282
...        ...       ...
293   0.105263  0.092034
5989  0.105263  0.053283
1028  0.105263  0.024220
1527  0.105263  0.059742
1246  0.105263  0.057051

[101 rows x 2 columns]

In [ ]:
rec_percentages["score"] = rec_percentages["similar"] / rec_percentages["all"]

In [ ]:
rec_percentages = rec_percentages.sort_values("score", ascending=False)

In [ ]:
rec_percentages

        similar       all     score
1      1.000000  0.129709  7.709544
3114   0.257310  0.051130  5.032441
2355   0.116959  0.024220  4.829110
1028   0.105263  0.024220  4.346199
78499  0.122807  0.031216  3.934059
...         ...       ...       ...
2858   0.163743  0.160388  1.020919
7153   0.140351  0.150161  0.934666
2959   0.192982  0.208288  0.926515
5952   0.134503  0.145318  0.925579
58559  0.111111  0.132939  0.835807

[101 rows x 3 columns]

In [ ]:
rec_percentages.head(10).merge(movies,left_index=True,right_on="movieId")

,similar,all,score,movieId,title,genres,clean_title
0,1.000000,0.129709,7.709544,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,Toy Story 1995
3021,0.257310,0.051130,5.032441,3114,Toy Story 2 (1999),Adventure|Animation|Children|Comedy|Fantasy,Toy Story 2 1999
2264,0.116959,0.024220,4.829110,2355,"Bug's Life, A (1998)",Adventure|Animation|Children|Comedy,Bugs Life A 1998
1005,0.105263,0.024220,4.346199,1028,Mary Poppins (1964),Children|Comedy|Fantasy|Musical,Mary Poppins 1964
14813,0.122807,0.031216,3.934059,78499,Toy Story 3 (2010),Adventure|Animation|Children|Comedy|Fantasy|IMAX,Toy Story 3 2010
1865,0.116959,0.031755,3.683219,1954,Rocky (1976),Drama,Rocky 1976
33,0.175439,0.051130,3.431210,34,Babe (1995),Children|Drama,Babe 1995
587,0.216374,0.064047,3.378348,595,Beauty and the Beast (1991),Animation|Children|Fantasy|Musical|Romance|IMAX,Beauty and the Beast 1991
2705,0.116959,0.035522,3.292575,2797,Big (1988),Comedy|Drama|Fantasy|Romance,Big 1988
1047,0.157895,0.048439,3.259649,1073,Willy Wonka & the Chocolate Factory (1971),Children|Comedy|Fantasy|Musical,Willy Wonka the Chocolate Factory 1971

In [ ]:
def find_similar_movies(movie_id):
    similar_users = ratings[(ratings["movieId"] == movie_id) & (ratings["rating"] > 4)]["userId"].unique()
    similar_user_r = ratings[(ratings["userId"].isin(similar_users)) & (ratings["rating"] > 4)]["movieId"]
    similar_user_recs = similar_user_r.value_counts() / len(similar_users)

    similar_user_recs = similar_user_recs[similar_user_recs > .10]
    all_users = ratings[(ratings["movieId"].isin(similar_user_recs.index)) & (ratings["rating"] > 4)]
    all_user_recs = all_users["movieId"].value_counts() / len(all_users["userId"].unique())
    rec_percentages = pd.concat([similar_user_recs, all_user_recs], axis=1)
    rec_percentages.columns = ["similar", "all"]

    rec_percentages["score"] = rec_percentages["similar"] / rec_percentages["all"]
    rec_percentages = rec_percentages.sort_values("score", ascending=False)
    return rec_percentages.head(10).merge(movies, left_index=True, right_on="movieId")[["score", "title", "genres"]]

In [ ]:
import ipywidgets as widgets
from IPython.display import display

movie_name_input = widgets.Text(
    value='Toy Story',
    description='Movie Title:',
    disabled=False
)
recommendation_list = widgets.Output()

def on_type(data):
    with recommendation_list:
        recommendation_list.clear_output()
        title = data["new"]
        if len(title) > 5:
            results = search(title)
            movie_id = results.iloc[0]["movieId"]
            display(find_similar_movies(movie_id))

movie_name_input.observe(on_type, names='value')

display(movie_name_input, recommendation_list)

Text(value='Toy Story', description='Movie Title:')

Output()